# 데이터 마이닝 중간고사
파일명을 수정하여 학번과 이름을 작성할것.
코드영역에 정답을 기입할것

## 1번문제
### 변수`학교`을 선언하고 문자열 `Dongseo University`를 할당하시오.

In [11]:
학교 ="Dongseo University"

## 2번문제
### 변수 `name`에서 y를 인덱싱하는 코드를 작성하시오.

In [12]:
print(학교[17])

#변수명 name ->학교

y

## 3번문제
### 변수 `name`에서 `University`를 슬라이싱하는 코드를 작성하시오.

In [13]:
print(학교[8:18])

University

## 4번문제
### 아래의 `리스트`에서 `빅데이터전공`과 `홍길동`을 삭제하는 코드를 작성하시오. 한 번에 여러 데이터를 삭제하는 방법으로 삭제할것.

In [21]:
리스트 = ["동서대학교","빅데이터전공","홍길동","20학번"]

del 리스트 [1:3]

print (리스트)

['동서대학교', '20학번']

## 5번문제
### `IndexError: list index out of range` 해당 에러메시지는 어떨때 발생하는것인지 아래의 markdown 영역에 작성하시오.

리스트 범위를 벗어나는 인덱스를 사용 했을 때 나타난다.

## 6번문제
### 아래의 문제를 만족하는 코드를 작성하시오.
리스트에는 아파트 거주 인원의 이름이 저장돼 있습니다.   
`| 길동 | 철수 | 영희 | 민수 | 민기 | 아영 |`  

----

하나의 이름을 입력받아 인접한 두 집을 출력하세요. 예외 처리에 대해 배우지 않았으니 첫 번째 집과 마지막 집을 입력하지 않는 것을 가정합니다. 
`name = input("이름:")`

----

```python
# 출력 예시
>> 이름: 영희
주변에는 철수 민수가 살고 있습니다.
```

In [ ]:
거주자 = ["길동", "철수", "영희", "민수", "민기", "아영"]
name = input("이름:")

#5번까지 풀었고 6번부터는 풀이.

## 7번문제
### 아래 작성된 조건이 만족하는 코드를 작성하시오.
#### 1. 함수의 이름은 `초대장`으로 만든다.
#### 2. 2개의 파라미터를 입력받도록하고 파라미터는 `일시`과 `장소` 순으로 만든다.
#### 3. `장소` 파라미터는 기본값(defualt)을 `강남`로 설정한다.
#### 4. `일시`과 `장소` 파라미터에 힌트기능을 사용하여 `str`임을 알려준다.
#### 5. 함수의 기능은 return은 없고 print문에 fstring 기능을 통하여 아래와 같이 출력되도록 한다. 
#### 예시) 일시: 2023-10-30 12:00, 장소: 강남
#### 6. 아래 작성된 코드가 동작하도록 함수를 선언하시오.

In [4]:
##구현영역
def 초대장(일시str:,장소str=:"강남")
 print(=f"일시:{일시},장소:{장소}") 
##동작영역
초대장("2023-10-30 12:00")
초대장("2023-10-30 12:00", "고터")

SyntaxError: invalid syntax (4092595455.py, line 2)

## 8번문제
### 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 `정수변환`함수를 선언하시오.
#### 아래의 작성된 코드가 동작하도록 구현해야함.
#### return으로 변환된 정수가 출력되어야함

In [1]:
##구현영역
def 정수변환(문자열숫자):
    return int(문자열숫자.replace(",",""))

##동작영역
print(정수변환("1,000"))
print(정수변환("4,123,000"))

1000
4123000

## 9번문제
### 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 `짝수찾기`함수를 선언하시오.
#### 아래에 작성된 코드가 동작하도록 구현해야함

In [9]:
##구현영역
def 짝수찾기(list):
    result =[]
    for x in list: 
        if x%2==0:
            result.append(x)
    return result

    
#동작영역
list = [1,2,4,6,7,8,9,10,10,10,11]
짝수리스트 = 짝수찾기(list)
print(짝수리스트)

[2, 4, 6, 8, 10, 10, 10]

## 10번문제
### 슬라이싱 기능을 하는 함수를 구현하시오.
#### 1.함수이름은 `슬라이싱`
#### 2.파라미터는 `자료구조`, `시작`, `끝`, `증감폭`
#### 3.초기값은 `시작`, `끝`, `증감폭`이 가짐
#### 4.`시작`은 0으로, `끝`은 -1로, `증감폭`은 1로 초기값을 가진다.
#### 5.`시작`값과 `끝`값은 자료구조의 영역내의 값이 들어온다고 가정한다.
#### 6. 반환(return)되는 값은 자료구조의 시작 인덱스부터 끝 인덱스미만까지 슬라이싱한 값이다.
#### 7. 코드영역에 기본 슬라이싱 기능을 사용한다.

In [14]:
##구현영역
def 슬라이싱 (자료구조,시작=0,끝=1,증감폭=1):
    

    return 자료구조 [시작:끝:증감폭] 

##동작영역
print(슬라이싱(리스트))
print(슬라이싱(리스트,3))
print(슬라이싱(리스트,0,8))
print(슬라이싱(리스트,0,-1,2))
print(슬라이싱(학교,0,7))

[1]
[]
[1, 2, 4, 6, 7, 8, 9, 10]
[1, 4, 7, 9, 10]
Dongseo